%html
  %head
    %title Happytables 3D logo
    %link{href: "main.css", rel: "stylesheet", type: "text/css"}
  %body
    .happytable
      .frame
        .step-three
          .shadow
        .legs.step-two
          .leg.one
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
          .leg.two
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
          .leg.three
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
          .leg.four
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
        .top.step-one
          .edge.front
          .edge.back
          .edge.right
          .edge.left
          .edge.top
            %svg#Layer_1{"enable-background" => "new 0 0 300.2 300.2", :space => "preserve", :version => "1.1", :viewbox => "0 0 300.2 300.2", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %path{"clip-rule" => "evenodd", :d => "M0 0h300.2v300.2H0V0z", :fill => "none", "fill-rule" => "evenodd"}
              %g
                %path{"clip-rule" => "evenodd", :d => "M300.2 169.8v37.9c-18 6-37.3 9.2-57.4 9.2 c-59.5 0-112.4-28.5-145.7-72.6c-19.9 16.4-45.6 22.4-69.7 17.8c24-3.5 47.1-14.5 65.5-32.9c19.1-19.1 30.2-43.2 33.3-68.1 c5.3 25.2-0.9 52.4-18.7 73c38.3 26.9 85 42.7 135.4 42.7C262.7 176.8 281.9 174.3 300.2 169.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
          .edge.bottom
    .happytable.arrive
      .frame.spin
        .shadow
        .legs
          .leg.one
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
          .leg.two
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
          .leg.three
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
          .leg.four
            .edge.front
            .edge.back
            .edge.right
            .edge.left
            .edge.bottom
        .top
          .edge.front
          .edge.back
          .edge.right
          .edge.left
          .edge.top
            %svg#Layer_1{"enable-background" => "new 0 0 300.2 300.2", :space => "preserve", :version => "1.1", :viewbox => "0 0 300.2 300.2", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
              %path{"clip-rule" => "evenodd", :d => "M0 0h300.2v300.2H0V0z", :fill => "none", "fill-rule" => "evenodd"}
              %g
                %path{"clip-rule" => "evenodd", :d => "M300.2 169.8v37.9c-18 6-37.3 9.2-57.4 9.2 c-59.5 0-112.4-28.5-145.7-72.6c-19.9 16.4-45.6 22.4-69.7 17.8c24-3.5 47.1-14.5 65.5-32.9c19.1-19.1 30.2-43.2 33.3-68.1 c5.3 25.2-0.9 52.4-18.7 73c38.3 26.9 85 42.7 135.4 42.7C262.7 176.8 281.9 174.3 300.2 169.8z", :fill => "#FFFFFF", "fill-rule" => "evenodd"}
          .edge.bottom